.container {
  // margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  background: var(--primary);
  height: 17.5rem;
}

.userWrapper {
  display: flex;
  align-items: center;

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 0.5rem;
    }

    div {
      color: var(--white);
      font-size: 1.12rem;
      line-height: 20px;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
    }

  }

  button {
    border: none;
    background: none;
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;

    svg {
      color: var(--secondary);
    }

    &:hover{
      filter: opacity(0.5);
    }
  }
}

.highlightCards {
  display: flex;
  overflow: auto;
  margin-top: -12rem;
  padding:0 1.5rem 0 1.5rem;

  div + div {
    margin-left: 1rem;
  }

  &::-webkit-scrollbar {
    width: 0;
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: none;
  }
}

.gainCards {
  padding: 0 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;

    h1 {
      font-size: 1.5rem;
      color: var(--gray-500);
    }
  }

  ul {
    li {
      margin-bottom: 0.5rem;

      &:hover {
        filter: opacity(0.8);
      }
    }
  }
}